body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

img {
    cursor: pointer;
    border: 4px solid darkgrey;
}

hr {
    border-width: 2;
    border-top: 2px solid lightgray;
    max-width: 960px; 
}

.title {
    background-image: url("../images/background_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-item {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(142, 152, 161);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.90);
    z-index: 2;
}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlayImg {
    border: none;
}

#imgCaption {
    background-color: black;
    border: 1px solid white;
    color: antiquewhite;
    font-size: 125%;
    text-transform: capitalize;
}

#DMCA-badge {
    border: none;
}

/* .button {
    padding-left: 90px;
    margin-left: .5em;
    border: none;
} */